#grid-view-wrapper,
#table-view-wrapper,
#map-view-wrapper {

}

.country-index.country-index-show {
  opacity: 1;
  height:auto;
  overflow: visible;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 5px;
}

.country-index {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 5px; //accounts for shadows in grid view
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#switch-view-buttons {
  align-self: end;
}
