html {
  overflow-x: hidden;
}

.country-index.country-index-show {
  opacity: 1;
  height:auto;
  overflow: visible;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 5px;
}

.country-index {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5px; //accounts for shadows in grid view
  .btn-default{
    border-color: white;
    color:#045fb0;
  }
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#switch-view-buttons {
  align-self: end;
}
