<h3>Exclude Countries That Match These Parameters</h3>
  <p>You can include or exclude countries with certain scores here.</p>

<div class="row">
  <div class="category-range clearfix">
    <div class="col-md-6">
      <h4 class="category-range-header"><%= attribute_name %></h4>
    </div>

    <div id="slider">
    </div>
    
    <form>
      <input type="hidden" id="data1">
      <input type="hidden" id="data2">
    </form>
  </div>
</div>
