<h3>Exclude Countries That Match These Parameters</h3>
  <p>You can include or exclude countries with certain scores here.</p>

<div class="row">
  <div class="category-range clearfix">
    <div class="col-md-6">
      <h4 class="category-range-header"><%= attribute_name %></h4>
    </div>
    <div class="col-md-6">
      <div class="category-range-row">
        <div class="category-range-wrapper">
          <div class="low-range-bar"></div>
        </div>
        <div class="category-range-wrapper">
          <div class="medium-range-bar"></div>
        </div>
        <div class="category-range-wrapper">
          <div class="high-range-bar"></div>
        </div>
        <div class="category-range-wrapper">
          <div class="very-high-range-bar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
