<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="filter-form-wrapper">
        <%= form_for :category_filter, url: category_filter_path, remote: true do |f| %>
          <div id="category_switches" class="col-md-12 category_switches filter-section hide-filter">
            <%= render partial: "countries/filter/categories", locals:{f: f}, layout: "countries/filter/modal"  %>
          </div>
        <% end %>
        <div id="calc_score_form_wrapper">
          <%= render "countries/filter/calc_score_form" %>
        </div>
    </div>
  </div>
</div>
