<div class="filter-modal">
  <header>
    <%= content_for :filter_modal_header %>
  </header>
  <div class="filter-modal-body">
    <%= content_for :filter_modal_body %>
  </div>
  <div class="filter-modal-footer">
    <%= content_for :filter_modal_footer %>
  </div>
</div>
