<div class="col-md-4">
  <div class="bubble-label first-label">
    All Countries
  </div>
  <div class="bubble-label second-label">
    ...with data for all of the selected categories
  </div>
  <div class="bubble-label third-label">
    ...with scores within the specified ranges
  </div>
</div>

<div class="col-md-8">
  <div class="bubble-chart-wrapper">
    <div class="all-bubble">
    </div>
    <div class="inner-bubble">
    </div>
    <div class="innermost-bubble">
    </div>
  </div>
</div>
