<div id="filters" class="row">

  <div class="container text-center">
    <div class="btn-group toggle-filter-buttons" data-toggle="buttons">
      <label id="showCategorySwitches" class="btn btn-default navbar-btn">
        <input type="radio" autocomplete="off"> </input>
        <span class="glyphicon glyphicon-tasks"></span><br>
        <span class="filter-label">Categories</span>
      </label>

      <label id="showCategoryDealBreakers" class="btn btn-default navbar-btn">
        <input type="radio" autocomplete="off"> </input>
        <span class="glyphicon glyphicon-ban-circle"></span><br>
        <span class="filter-label">Deal Breakers</span>
      </label>

      <label id="showCategoryWeights" class="btn btn-default navbar-btn">
        <input type="radio" autocomplete="off"> </input>
        <span class="glyphicon glyphicon-scale"></span><br>
        <span class="filter-label">Weights</span>
      </label>

    </div>
  </div>

</div>
