<ul class="nav nav-tabs">
  <% @categories.each do |category| %>
    <li role="presentation" class=<%= maps_tab_class(category, @current_category) %> > <%= map_category_link(category) %> </li>
  <% end %>
  <li role="presentation" class=<%= maps_tab_class("overall_rank", @current_category) %> > <%= overall_rank_link %> </li>
</ul>
