<div class="container">
  <div class="well well-sm">
    <strong>Display</strong>
    <div class="btn-group">
      <a href="#" id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list"></span>List</a>
      <a href="#" id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
  </div>

  <div id="countries" class="row list-group">
    <% Country.all.each do |country| %>
      <div class="item col-xs-4 col-lg-4">

        <div class="thumbnail">
          <div class="thumb-overlay">
            <h4 class="thumbnail-header"><%= country.name %></h4>
            <span class= "glyphicon glyphicon-signal"></span>
          </div>
          <%= image_tag(country_image(country.name))%>
        </div>

        <div class="thumbnail-graph">
          <h4 class="thumbnail-graph-header"><%= country.name %></h4>
          <div class="thumb-graph-row">
            <span class= "glyphicon glyphicon-signal"></span>
            <span class="thumb-graph-bar"></span>
          </div>
          <div class="thumb-graph-row">
            <span class= "glyphicon glyphicon-piggy-bank"></span>
            <span class="thumb-graph-bar"></span>
          </div>
          <div class="thumb-graph-row">
            <span class= "glyphicon glyphicon-certificate"></span>
            <span class="thumb-graph-bar"></span>
          </div>
        </div>

      </div>
    <% end %>
  </div>

</div>
