<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

  <%= render partial: 'shared/loading' %>

  <div class="countries_wrapper">
    <div id="grid-view-wrapper" class="country-index country-index-show">
      <%= render partial: "grid_view" %>
    </div>
    <div id="table-view-wrapper" class="country-index">
      <%= render partial: "table_view" %>
    </div>
    <div id="map-view-wrapper" class="country-index">
      <%= render partial: "map_view" %>
    </div>
  </div>
