<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

  <%= render partial: "countries/filter/filter_bar" %>

  <div class="well well-sm">
    <strong>Display</strong>
    <div class="btn-group">

      <a id="map-view-button" data-index-style-div="map-view-wrapper" href="#" class="btn btn-default btn-sm countries-index-style">
        <span class="glyphicon glyphicon-globe"></span>Map</a>
      </a>

      <a id="grid-view-button" data-index-style-div="grid-view-wrapper" href="#" class="btn btn-default btn-sm countries-index-style">
        <span class="glyphicon glyphicon-th"></span>Grid</a>
      </a>

      <a id="table-view-button" data-index-style-div="table-view-wrapper" href="#" class="btn btn-default btn-sm countries-index-style">
        <span class="glyphicon glyphicon-th-list"></span>Table</a>
      </a>

    </div>
  </div>

  <h1>Countries</h1>

  <div class="countries_wrapper">
    <div id="grid-view-wrapper" class="country-index country-index-show">
      <%= render partial: "grid_view" %>
    </div>
    <div id="table-view-wrapper" class="country-index">
      <%= render partial: "table_view" %>
    </div>
    <div id="map-view-wrapper" class="country-index">
      <%= render partial: "map_view" %>
    </div>
  </div>
