<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<div id="container" style="height:500px; width:100%;"></div>

<script>
$(document).ready(function(){
  Highcharts.data({

      // custom handler when the spreadsheet is parsed
      parsed: function (columns) {

          // Read the columns into the data array
          var data = [];
          $("tr.country").each(function() {
              data.push({
                  code: $("td.country-code").text(),
                  value: parseInt($("tbody td.sorting_1").text()),
                  name: $("td.name")
              });
          });

          // Initiate the chart
          Highcharts.mapChart('container', {
              chart: {
                  borderWidth: 1
              },

              colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
                  'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],

              title: {
                  text: 'Country Rank By ' + $("thead td.sorting_asc, thead td.sorting_desc").text()
              },

              mapNavigation: {
                  enabled: true
              },

              legend: {
                  title: {
                      text: 'Individuals per km²',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                      }
                  },
                  align: 'left',
                  verticalAlign: 'bottom',
                  floating: true,
                  layout: 'vertical',
                  valueDecimals: 0,
                  backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255, 255, 255, 0.85)',
                  symbolRadius: 0,
                  symbolHeight: 14
              },

              colorAxis: {
                  dataClasses: [{
                      to: 3
                  }, {
                      from: 3,
                      to: 10
                  }, {
                      from: 10,
                      to: 30
                  }, {
                      from: 30,
                      to: 100
                  }, {
                      from: 100,
                      to: 300
                  }, {
                      from: 300,
                      to: 1000
                  }, {
                      from: 1000
                  }]
              },

              series: [{
                  data: data,
                  mapData: Highcharts.maps['custom/world'],
                  joinBy: ['iso-a2', 'code'],
                  animation: true,
                  name: $("thead td.sorting_asc, thead td.sorting_desc").text(),
                  states: {
                      hover: {
                          color: '#a4edba'
                      }
                  },
                  tooltip: {
                      valueSuffix: '/km²'
                  }
              }]
          });
      },
      error: function () {
          $('#container').html('<div class="loading">' +
              '<i class="icon-frown icon-large"></i> ' +
              'Error loading data from Google Spreadsheets' +
              '</div>');
      }
  });
});
</script>
