button.btn-circle {
  border-radius: 50%;
}

*, body {
  font-family: 'Noto Sans', sans-serif;
}

body {
  background: whitesmoke;
}

#filters {
  background: url("globe.jpg");
  z-index:2000;
  position:relative;
  .glyphicon {
    font-size: 15px;
  }
}

.filter-label {
  font-size:10px;
}

.nav-container {
  background:rgba(255,255,255,0.8);
}

$base-line-height: 24px;
$white: rgb(255,255,255);
$off-white: rgba($white, 0.2);
$loading-color: #4BAECF;
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}
.loading-pulse {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: ($base-line-height / 4);
  height: $base-line-height;
  background: $loading-color;
  animation: pulse $pulse-duration infinite;
  animation-delay: ($pulse-duration / 3);
  z-index: 5000;
  &:before, &:after {
    content: '';
    position: absolute;
    display: block;
    height: ($base-line-height / 1.5);
    width: ($base-line-height / 4);
    background: $loading-color;
    top: 50%;
    transform: translateY(-50%);
    animation: pulse $pulse-duration infinite;
  }
  &:before {
    left: -($base-line-height / 2);
  }
  &:after {
    left: ($base-line-height / 2);
    animation-delay: ($pulse-duration / 1.5);
  }
}


/* Bubble Chart */

.bubble-chart-wrapper {
  width: 150px;
  height: 150px;
  position: relative;
}

.all-bubble{
  width: 100%;
  height: 100%;
  background: rgba(7, 91, 161, .20);
  border-radius: 50%;
  &:before {
    content:"266";
    position: absolute;
    width:100%;
    text-align: center;
    color:#333;
  }
}


.inner-bubble,
.innermost-bubble {
  background: rgba(7, 91, 161, .20);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.inner-bubble {
  width: 100px;
  height: 100px;
  margin-left: -50px;
  &:before {
    content:"72";
    position: absolute;
    width:100%;
    text-align: center;
    color: #333;
  }
}

.innermost-bubble {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  &:before {
    content:"10";
    position: absolute;
    width:100%;
    text-align: center;
    color:#333;
  }
}

.bubble-label {
  padding: 3px;
  margin-bottom: 10px;
}

.first-label{
  &:after{
    content:"";
    width:130%;
    position:absolute;
    border-bottom: 1px solid #ccc;
  }
}
.second-label{
  &:after{
    content:"";
    width:130%;
    position:absolute;
    border-bottom: 1px solid #ccc;
  }
}
.third-label{
  &:after{
    content:"";
    width:130%;
    position:absolute;
    border-bottom: 1px solid #ccc;
  }
}

.modal-overlay {
  position: fixed;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  top:0;
  left:0;
  &.mo-hide {
    height: 0;
    width: 0;
    -webkit-animation: fadeOutToNone 0.5s ease-out;
    -moz-animation: fadeOutToNone 0.5s ease-out;
    -o-animation: fadeOutToNone 0.5s ease-out;
    animation: fadeOutToNone 0.5s ease-out;
  }
  &.mo-show {
    height:100%;
    width:100%;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
  }
}

#switch-view-buttons {
  .btn {
    border-radius: 0;
  }
}

.sub-nav-wrapper{
  background: white;
  border-top: 2px solid #e7bf34;
  box-shadow: 1px 0 3px rgba(0,0,0,0.4);
  color:#7b7b7b;
  margin-bottom:20px;
  h3{
    margin-top:10px;
    font-size: 20px;
  }
}


/* Animations */

@-webkit-keyframes fadeInFromNone {
  0%   { height: 0;     width: 0;     opacity: 0; }
  1%   { height: 100vh; width: 100vw; opacity: 0; }
  100% { height: 100vh; width: 100vw; opacity: 1; }
}

@-moz-keyframes fadeInFromNone {
  0%   { height: 0;     width: 0;     opacity: 0; }
  1%   { height: 100vh; width: 100vw; opacity: 0; }
  100% { height: 100vh; width: 100vw; opacity: 1; }
}

@keyframes fadeInFromNone {
  0%   { height: 0;     width: 0;     opacity: 0; }
  1%   { height: 100vh; width: 100vw; opacity: 0; }
  100% { height: 100vh; width: 100vw; opacity: 1; }
}


@-webkit-keyframes fadeOutToNone {
  0%   { height: 100vh; width: 100vw; opacity: 1; }
  99%  { height: 100vh; width: 100vw; opacity: 0; }
  100% { height: 0;     width: 0;     opacity: 0; }
}

@-moz-keyframes fadeOutToNone {
  0%   { height: 100vh; width: 100vw; opacity: 1; }
  99%  { height: 100vh; width: 100vw; opacity: 0; }
  100% { height: 0;     width: 0;     opacity: 0; }
}

@keyframes fadeOutToNone {
  0%   { height: 100vh; width: 100vw; opacity: 1; }
  99%  { height: 100vh; width: 100vw; opacity: 0; }
  100% { height: 0;     width: 0;     opacity: 0; }
}
